{
  "scripts": [ "/pat/wowozela/menu/menu.lua" ],
  "scriptWidgetCallbacks": [
    "Callbacks.pageButton"
  ],
  "canvasClickCallbacks": {
    "radialCanvas": "Radial.mouseEvent"
  },

  "gui": {
    "_background": {
      "type": "background",
      "fileBody": "/pat/wowozela/menu/images/bg.png"
    },
    "_panefeature": {
      "type": "panefeature",
      "anchor": "center"
    },
    "radialCanvas": {
      "type": "canvas",
      "size": [ 290, 290 ],
      "scissoring": false,
      "captureMouseEvents": true,
      "data": {
        "innerRadius": 60,
        "outerRadius": 140,
        "labelRadius": 120,
        "iconRadius": 80,

        "minSegments": 60,
        "minSlices": 3,

        "lineWidth": 2.5,
        "lineHSVA": [ 0, 0.7, 1, 255 ],
        "backHSVA": [ -12, 0.8, 0.9, 50 ],
        "centerColor": "#1114",
        "hoverBackColor": "#fff4",
        "hoverLineColor": "#fff8",

        "primaryColor": "#1E79BC66",
        "altColor": "#B1293066",
        "dualColor": "#B700B266",

        "primaryIcon": "/pat/wowozela/menu/images/mouse.png:L",
        "altIcon": "/pat/wowozela/menu/images/mouse.png:R",
        "dualIcon": "/pat/wowozela/menu/images/mouse.png:LR",
        "iconScale": 1,

        "labelConfig": {
          "type": "label",
          "hAnchor": "mid",
          "vAnchor": "mid",
          "directives": "border=1;000;000"
        }
      }
    },
    "category": {
      "type": "label",
      "position": [ 145, 145 ],
      "zlevel": 20,
      "fontSize": 16,
      "hAnchor": "mid",
      "vAnchor": "mid",
      "directives": "border=2;444;444"
    },
    "pageNumber": {
      "type": "label",
      "position": [ 145, 103 ],
      "zlevel": 20,
      "color": "lightgray",
      "hAnchor": "mid",
      "vAnchor": "bottom",
      "directives": "border=1;444;444"
    },
    "pageScroller": {
      "type": "scrollArea",
      "size": [ 290, 290 ],
      "zlevel": -1000,
      "verticalScroll": false
    },
    "pagePrev": {
      "type": "button",
      "callback": "Callbacks.pageButton",
      "data": -1,
      "position": [ 115, 100 ],
      "pressedOffset": [ -1, 0 ],
      "scissoring": false,
      "base": "/pat/wowozela/menu/images/pagebutton.png",
      "hover": "/pat/wowozela/menu/images/pagebutton.png?multiply=8f8",
      "pressed": "/pat/wowozela/menu/images/pagebutton.png?multiply=0f0"
    },
    "pageNext": {
      "type": "button",
      "callback": "Callbacks.pageButton",
      "data": 1,
      "position": [ 160, 100 ],
      "pressedOffset": [ 1, 0 ],
      "scissoring": false,
      "base": "/pat/wowozela/menu/images/pagebutton.png?flipx",
      "hover": "/pat/wowozela/menu/images/pagebutton.png?flipx?multiply=afa",
      "pressed": "/pat/wowozela/menu/images/pagebutton.png?flipx?multiply=0f0"
    }
  }
}
